html
	head
		link(rel='stylesheet', href='./css/leaflet.css')
		script(src='./js/leaflet.js')
		script(src='./js/underscore-min.js')
		script(src='./js/jquery.min.js')
		script(src='./js/dijkstra.js')

		link(rel='stylesheet', href='./css/style.css')
	body
		div(id='map')
		div(id='sidebar')
			ul(id='toggles')
				li
					a(class='toggle-markers',href='#') Toggle Markers
				li
					a(class='toggle-nav',href='#') Toggle Nav
				li
					a(class='vanilla-reset',href='#') Vanilla Reset
			div(id='upload-spoilers')
				div(class='seed-id')
				input(type='file')
			div(id='route-planner')
				div(class='route-from')
					h6 From:
					select
						each p in places
							if typeof p.name !== 'undefined'
								option(value=p.id)= p.name
				div(class='route-to')
					h6 To:
					select
						each p in places
							if typeof p.name !== 'undefined'
								option(value=p.id)= p.name
				a(href='#',class='start-route') Go
				a(href='#',class='clear-route') Clear
				ul(class='route-table')
		script.
			let vanillaEntrances = !{JSON.stringify(entrances)};
			let entrances = vanillaEntrances;
			let places = !{JSON.stringify(places)};
			let items = !{JSON.stringify(items)};
		script(src='./js/main.js')